<!-- extend from base layout -->
{% extends "base.html" %}
{% import 'macros.html' as mc %}
{% block content %}
  <div id="postform">
  <form method="post" action="" name="home">
    {{ User['username'] }}, what are you doing?<br>
    <table>
    <tr><td>{{ form.status(size=100) }}</td></tr>
    <tr><td align="right"><input type="submit" name="doit" value="Update"></td></tr>
    </table>
  </form>
  <div id="homeinfobox">
    {{ r.zcard("followers:"+User['id']) }}  followers<br>
    {{ r.zcard("following:"+User['id']) }}  following<br>
  </div>
  </div>
  {{ mc.show_user_posts_with_pagination(false,User['id'],page,10,r) }}
{% endblock %}
