<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div id="welcomebox">
<div id="registerbox">
  <h2>Register</h2>
  <form method="POST" action="">
    <table>
    <tr>
    <td>Username</td><td><input type="text" name="username"></td>
    </tr>
    <tr>
    <td>Password</td><td><input type="password" name="password"></td>
    </tr>
    <tr>
    <td>Password (again)</td><td><input type="password" name="password2"></td>
    </tr>
    <tr>
    <td colspan="2" align="right"><input type="submit" name="doit" value="Create an account"></td></tr>
    </table>
  </form>
  <h2>Login</h2>
  <form action="" method="post" name="login">
      <table>
      {{ form.csrf_token }}
      <tr><td>{{ form.username.label }}</td><td>{{ form.username(size=16) }}</td></tr>
      <tr><td>{{ form.password.label }}</td><td>{{ form.password(size=16) }}</td></tr>
      <tr><td colspan="2" align="right"><input type="submit" name="login" value="Log In"></td></tr>
      </table>
  </form>
</div>
Hello! 
<ul>
<li>1</li>
<li>2</li>
<li>3</li>
<li>4</li>
</ul>
</div>
{% endblock %}
